@model Gestion.Models.ParamCategorias
@{
    ViewData["Title"] = "Editar Categoria";

    List<SelectListItem> categorias = ViewBag.Categorias;
}

<h1>Editar Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Guardar" method="post" id="frm">
            <input type="hidden" asp-for="Id" class="form form-control" />
            <div class="form-group">
                <label asp-for="Codigo"></label>
                <input asp-for="Codigo" class="form form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" class="form form-control"
                        asp-items="@categorias">
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="button" value="Guardar" class="btn btn-primary" onclick="abrirModal()" />
                <a asp-action="Index" class="btn btn-danger">Volver</a>
            </div>
        </form>

    </div>


</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>
<script>
    function abrirModal() {
        mostrarModalNuevo().then((result) => {
            if (result.value) {
                var form = document.getElementById("frm");
                form.submit();
            }
        })
    }
</script>
