@model Gestion.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumentoId" class="control-label"></label>
                <select asp-for="TipoDocumentoId" class ="form-control" asp-items="ViewBag.TipoDocumentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NroDocumento" class="control-label"></label>
                <input asp-for="NroDocumento" class="form-control" />
                <span asp-validation-for="NroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuilCuit" class="control-label"></label>
                <input asp-for="CuilCuit" class="form-control" />
                <span asp-validation-for="CuilCuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivilId" class="control-label"></label>
                <select asp-for="EstadoCivilId" class ="form-control" asp-items="ViewBag.EstadoCivilId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NacionalidadId" class="control-label"></label>
                <select asp-for="NacionalidadId" class ="form-control" asp-items="ViewBag.NacionalidadId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsPersonaJuridica" /> @Html.DisplayNameFor(model => model.EsPersonaJuridica)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaId" class="control-label"></label>
                <select asp-for="ProvinciaId" class ="form-control" asp-items="ViewBag.ProvinciaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Localidad" class="control-label"></label>
                <input asp-for="Localidad" class="form-control" />
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalleNro" class="control-label"></label>
                <input asp-for="CalleNro" class="form-control" />
                <span asp-validation-for="CalleNro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PisoDpto" class="control-label"></label>
                <input asp-for="PisoDpto" class="form-control" />
                <span asp-validation-for="PisoDpto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtrasReferencias" class="control-label"></label>
                <input asp-for="OtrasReferencias" class="form-control" />
                <span asp-validation-for="OtrasReferencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioAlta" class="control-label"></label>
                <input asp-for="UsuarioAlta" class="form-control" />
                <span asp-validation-for="UsuarioAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

